mqtt:
  enabled: false

database:
  path: /media/frigate/frigate.db

detectors:
  ov:
    type: openvino
    device: GPU

model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

objects:
  track:
    - person
    - car
    - dog
    - cat
  filters:
    person:
      min_area: 2000
      min_score: 0.5
      threshold: 0.7

snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 10
    objects:
      person: 15

record:
  enabled: true
  retain:
    days: 15
    mode: motion
  alerts:
    retain:
      days: 30
  detections:
    retain:
      days: 30

cameras:
  camera_1:
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://login:password@10.20.30.160:554/live
          roles:
            - record
        - path: rtsp://login:password@10.20.30.160:554/ch0_1.h264
          roles:
            - detect

    detect:
      width: 800
      height: 448
      fps: 5

    zones:
      zona_total:
        coordinates: 0,0,800,0,800,448,0,448

    onvif:
      host: 10.20.30.160
      port: 8899
      user: login
      password: password
      autotracking:
        enabled: true
        required_zones:
          - zona_total
        zooming: disabled
        return_preset: home
        timeout: 10

version: 0.16-0
detect:
  enabled: true
semantic_search:
  enabled: true
  model_size: large
face_recognition:
  enabled: true
  model_size: large
lpr:
  enabled: false
classification:
  bird:
    enabled: true
