services:
  frigate:
    container_name: frigate
    privileged: true
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:stable
    shm_size: "1gb"
    environment:
      - LIBVA_DRIVER_NAME=iHD
      - INTEL_OPENVINO_DIR=/opt/intel/openvino
      - GIDLIST=992
    group_add:
      - "992"
      - video
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - ./storage:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "5000:5000"
      - "8971:8971"
      - "8555:8555/tcp"
      - "8555:8555/udp"
    networks:
      - default
      - proxy_network

networks:
  proxy_network:
    external: true